@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

html {
    scroll-behavior: smooth;
}

body {
	background-color: #FAFAFA;
	font-family: 'Nunito Sans', sans-serif;
	color: #333;
	font-weight: 300;
}

h1, h2, h3, h4 {
	font-weight: 100;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h5 {
  font-weight: 300;
}

.logo a {
	color: #333;
}

p.emoji {
	font-size: 300%;
}

h5 a {
	font-weight: 900;
	color: #333333;
}

textarea:focus, input:focus, a:focus,
textarea:active, input:active, a:active {
    outline: none !important;
}

button {
  cursor: pointer !important;
}

#sidebar-wrapper.my-sidebar {
	background-color: #333940;
	color: #FAFAFA;
	padding: 20px;
	opacity: 0.7;
	box-shadow: 4px 8px 8px rgba(0,0,0,0.4);
  	text-align: left!important;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon {
	font-size: 23px;
	border: 3px solid #FAFAFA;
	border-radius: 50%;
  	width: 35px;
  	height: 35px;
  	margin-top: -53px;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon i {
	padding-left: 6px;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	vertical-align: top;
	box-shadow: 0 0 17px rgba(0,0,0,0.5);
}

#sidebar-wrapper.my-sidebar a {
	color: #FAFAFA;
  cursor: pointer;
}

#sidebar-wrapper.my-sidebar a:hover {
	text-decoration: underline;
}

#sidebar-wrapper h5 {
	font-weight: 300;
	border-bottom: 1px solid #4a4a4a;
	padding-bottom: 10px;
}

.notify {
	font-size: 90%;
}

.notify img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.event-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-header img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-top: -41px;
	border: 5px solid #f7f7f7;
	box-shadow: 0 0 17px rgba(0,0,0,0.5);
}

.event-header p {
	padding: 10px 0 0 15px;
	margin-top: -7px;
}

.footer-octicon, .octicon {
  color: #fff;
}

.sidebar_hydro-logo {
	width: 18px;
	margin-right: 2px;
	margin-top: -3px;
}

.header_hydro-logo {
	width: 38px;
	margin-right: 0;
	margin-top: -3px;
}

.card-footer {
  padding: 1rem 1.25rem;
}

.event_creator-link {
	color: #636363;
}

.event_price-image {
	height: 18px;
	margin-right: 0;
	margin-top: -3px;
}

.event_badge-hot {
	width: 18px;
	margin-right: 8px;
	margin-top: -3px;
}

.btn-dark.disabled, .btn-dark:disabled {
  background-color: #9c9c9c;
  border-color: #9c9c9c;
}

.not-found {
	font-size: 23px;
  margin-top: 100px;
}

.form-control:focus, .custom-file-input:focus, .custom-file-input:active, .custom-file-input:focus-within {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.categories-list {
	text-align: left;
	padding-left: 0;
}

.categories-list li {
	list-style-type: none;
	text-decoration: none;
	padding-left: 15px;
	padding-bottom: 10px;
}

.carousel {
	position: relative;
	/* margin-left: -60px; */
	/* margin-top: -55px !important; */
	/* margin-right: -60px; */
}

.carousel:hover {
	transform: scale(1.05);
}

.carousel:before {
  content: "";
  position:absolute;
  z-index: -1;
  width:96%;
  top: 0;
  height: 10px;
  left: 2%;
  border-radius: 100px / 5px;
  box-shadow:0 0 18px rgba(0,0,0,0.6);
}

.carousel:after {
	content: "";
  position: absolute;
  z-index: 0;
  width: 96%;
  bottom: 1px;
  height: 10px;
  left: 2%;
  border-radius: 100px / 5px;
  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.6);
  box-shadow: 0 0 18px rgba(0,0,0,0.6);
}

.carousel-inner {
	border-radius: 5px !important;
}

.carousel-caption {
	box-shadow: 20px 0px 80px rgba(0,0,0,1);
	/* box-shadow: inset 0px -112px 60px rgba(0,0,0,0.8); */
	box-shadow: inset 0px -181px 53px rgba(0,0,0,0.8);

}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 45px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 45px;
		min-height: 330px;
}

.carousel-indicators {
    bottom: 15px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 65px;
  height: 65px;
}

.carousel-caption h3 {
	font-weight: 900;
	font-size: 3.75rem;
	text-shadow: 2px 2px 24px #000;
}

.carousel-caption p {
	text-shadow: 2px 2px 24px #000;
  font-weight: 500;
}

.carousel button {
	padding: 15px 60px 15px 60px !important;
  border-radius: 30px !important;
	font-size: 20px;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 9999999999999999 !important;
}

.carousel .slide1 button {
	background-color: #007bff;
	border-color: #007bff;
}

.carousel .slide1 button:hover {
	background-color: #005cbf;
	border-color: #005cbf;
}

.carousel .slide2 button {
	background-color: #cc00ff;
	border-color: #cc00ff;
}

.carousel .slide2 button:hover {
	background-color: #a600d0;
	border-color: #a600d0;
}

.carousel .slide3 button {
	background-color: #ff8100;
	border-color: #ff8100;
}

.carousel .slide3 button:hover {
	background-color: #d06a01;
	border-color: #d06a01;
}

.carousel .slide4 button  {
	background-color: #ffc107;
	border-color: #ffc107;
}

.carousel .slide4 button:hover  {
	background-color: #bf9002;
	border-color: #bf9002;
}

.carousel .slide5 button  {
	color: #343a40;
	background-color: #fff;
	border-color: #fff;
}

.carousel .slide5 button:hover  {
	background-color: #dcdcdc;
	border-color: #dcdcdc;
}

#bgImage {
	position:absolute;
  width: 110%;
  height: 800px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
	margin-left: -22px;
	margin-top: -100px;
	top: 0;
	left: 0;
	right: 0;
	padding-right:0px;
	z-index:-999999;
}

.container-fluid {
	background-color: #fafafa;
	position: inherit;
	margin-top: 50px;
	border-radius: 5px;
	/* padding: 30px 60px 60px 60px; */
	min-height: 800px;
	max-width: 1600px;
	padding-left: 0px;
	padding-right: 0px;
}

.page-wrapper-inner {
	padding: 60px 60px 60px 60px;
}

.branding {
	z-index: 99999999999999999999999 !important;
  position: inherit;
	color: #fff;
	text-shadow: 2px 2px 24px #000;
}

.branding p {
	font-size: 1.2rem;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
  padding-right: 80px;
	padding-left: 325px;
	padding-top: 75px;

}

#wrapper.toggled {
  padding-left: 0px;
  padding-right: 0px;
}

#wrapper.toggled #page-content-wrapper {
}

.bg-light {
  background-color: rgb(50, 56, 64) !important;
}

.navbar-brand h1 {
	font-size: 1.5rem;
	font-weight: 400;
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(222, 222, 222);
}

.navbar-light .navbar-nav .nav-link:active {
  color: rgb(255, 255, 255);
	font-weight: 400;
}

.card:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 96%;
    top: 0;
    height: 10px;
    left: 2%;
    border-radius: 100px / 5px;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,1);
    box-shadow: 0 0 18px rgba(0,0,0,1);
}

.card-footer button {
	padding: 5px 30px 5px 30px;
  border-radius: 20px;
}

.container-fluid:before  {
  content: "";
  position: absolute;
  z-index: -1;
  width: 96%;
  top: 0;
  height: 10px;
  left: 2%;
  border-radius: 100px / 5px;
  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.6);
  box-shadow: 0 0 18px rgba(0,0,0,0.6);
}

.input-group:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 96%;
	top: 0;
	height: 10px;
	left: 2%;
	border-radius: 100px / 5px;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.6);
	box-shadow: 0 0 18px rgba(0,0,0,0.6);
}

.retract-page-inner-wrapper {
	margin: -60px -60px 0 -60px !important;
}

.retract-page-inner-wrapper-alternative {
	margin: 0px -60px 0 -60px !important;
}

.events-wrapper {
	margin-bottom:60px !important;
}

.hamburgerNav i {
	font-size: 30px;
	color: #fff;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

.topics-wrapper {
	text-align: left;
	margin-bottom: 50px;
}

.topics-wrapper button {
  padding: 15px 40px;
	border-radius: 40px;
  background-color: transparent;
  color: #333;

}

.topic {
	width: 100%;
	height: 152px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	list-style-type: none;
	border-radius: 5px;
	box-shadow: 0 0 18px rgba(0,0,0,0.6);
	position: relative;
	display: flex;
	flex-direction: column;
}

.topic:hover {
	transform: scale(1.1);
	z-index: 999;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.1);
	z-index: 999 !important;
}

.topic-caption {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 10;
  padding-top: 45px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
	height: inherit;
  padding-bottom: 25px;
	box-shadow: inset 0px -181px 53px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.topic:hover > .topic-caption {
	/* display: block; */
}

.topic-caption button {
	padding: 5px 25px;
  margin-right: 0px;
	background-color: #e91e63 !important;
	border: 1px solid #e91e63 !important;
	color: #fff !important;
	background-color: #fff !important;
	border: 1px solid #fff !important;
	color: #333 !important;
  opacity: 0.9;
}

.topic-caption button:hover {
  opacity: 1;
}

.topic-caption h3 {
	text-shadow: 2px 2px 24px #000 !important;
	font-weight: 400;
	font-size:1.5rem !important;
}

.topic-hero-wrapper {

}

.topic-hero-wrapper img {
	width: 100%;
	border-radius: 5px;
	z-index: 1;
}

.topic-hero-wrapper:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 96%;
    top: 0;
    height: 10px;
    left: 2%;
    border-radius: 100px / 5px;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,1);
    box-shadow: 0 0 18px rgba(0,0,0,1);
		z-index: -1;
}

.topic-hero-wrapper:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 96%;
  bottom: 1px;
  height: 10px;
  left: 2%;
  border-radius: 100px / 5px;
  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.6);
  box-shadow: 0 0 18px rgba(0,0,0,0.6);
	z-index: -1;
}

.my-tickets-page .card:before, .create-event .card:before {
  display: none;
}

button.read-more {
  padding: 15px 75px;
  border-radius: 40px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

button.read-more:hover {
  color: #fff !important;
  background-color: #212020;
  cursor: pointer;
}

.branding-logo {
  float: left;
  width: 38px;
  margin-top: 5px;
  margin-right: 10px;
}


.sort_button {
	color: #fff;
    background-color: #343a40;
    border-color: #343a40;
	max-width:140px;
	max-height:40px;
	border-radius:25px;
	font-size:0.9rem;
	transition: all 0.3s;
	overflow:hidden;
  }

  .sort_button:hover{
	color:rgb(250, 250, 250); 
	border-color: #4f6e8d;
  }

  .transactions{
	text-align:center; 
	padding:5px;
	
  }


  .sold_text{
	padding:8px;
	padding-bottom:0px;
	text-align: center;
	border-top:1px solid rgb(197, 195, 197);
	font-size: 14px;
	overflow:hidden;
	
  }

  .transaction-wrapper{
	margin-top:30px;
	justify-content:center;
	margin-left:15px;
	background:#343a40;
	max-width:822px;
	color:rgb(241, 241, 241);
	text-align:center;
	border:1px solid black;
	border-radius: 10px;
	overflow:hidden;
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
	opacity: 0.9;
  }

