@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
	background-color: #FAFAFA;
	font-family: 'Nunito Sans', sans-serif;
	color: #333;
	font-weight: 300;
}

h1, h2, h3, h4 {
	font-weight: 100;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

h5 {
  font-weight: 300;
}

.logo a {
	color: #333;
}

p.emoji {
	font-size: 300%;
}

h5 a {
	font-weight: 900;
	color: #333333;
}

textarea:focus, input:focus, a:focus,
textarea:active, input:active, a:active {
    outline: none !important;
}

#sidebar-wrapper.my-sidebar {
	background-color: #333333;
	color: #FAFAFA;
	padding: 20px;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon {
	font-size: 50px;
	border: 3px solid #FAFAFA;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 0 auto;
}

#sidebar-wrapper.my-sidebar .user-status .user-status-icon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

#sidebar-wrapper.my-sidebar a {
	color: #FAFAFA;
}

#sidebar-wrapper.my-sidebar a:hover {
	text-decoration: underline;
}

#sidebar-wrapper h5 {
	font-weight: 300;
	border-bottom: 1px solid #4a4a4a;
	padding-bottom: 10px;
}

.notify {
	font-size: 90%;
}

.notify img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.event-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-header img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin-top: -41px;
	border: 5px solid #f7f7f7;
}

.event-header p {
	padding: 10px 0 0 15px;
	margin-top: -7px;
}

.footer-octicon, .octicon {
  color: #fff;
}

.sidebar_hydro-logo {
	width: 18px;
	margin-right: 2px;
	margin-top: -3px;
}

.header_hydro-logo {
	width: 38px;
	margin-right: 0;
	margin-top: -3px;
}

.card-footer {
  padding: 1rem 1.25rem;
}

.event_creator-link {
	color: #636363;
}

.event_price-image {
	height: 18px;
	margin-right: 0;
	margin-top: -3px;
}

.event_badge-hot {
	width: 18px;
	margin-right: 8px;
	margin-top: -3px;
}

.btn-dark.disabled, .btn-dark:disabled {
  background-color: #9c9c9c;
  border-color: #9c9c9c;
}

.not-found {
	font-size: 23px;
  margin-top: 100px;
}

.form-control:focus, .custom-file-input:focus, .custom-file-input:active, .custom-file-input:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.categories-list {
	text-align: left;
	padding-left: 0;
}

.categories-list li {
	list-style-type: none;
	text-decoration: none;
	padding-left: 15px;
	padding-bottom: 10px;
}

#sidebar-wrapper {
	min-width: 300px;
}

#sidebar-wrapper .menu {
	text-align: left;
}

#wrapper .toggled {
	padding-left: 300px;
}
